<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Start video call with:</h4>
        </div>
        <div class="modal-body">
            <div class="collaborators clearfix">
                <% session.collaborators.each(function(user) { %>
                <a href="#" class="collaborator" data-collaborator="<%- user.get("userId") %>">
                    <img src="<%- user.avatar({size: 128}) %>" />
                    <p><%- user.get("name") %></p>
                </a>
                <% }); %>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-default action-close">Close</button>
        </div>
    </div>
</div>